# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Build outputs
build/
dist/

# Env
.env
.env.*

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Frontend
frontend/build/

# Backend
backend/node_modules/

